PORT=3000
CLIENT_ID=seu_client_id
CLIENT_SECRET=seu_client_secret
REDIRECT_URI=http://127.0.0.1:3000/callback
CLIENT_URL=http://localhost:5173
SPOTIFY_SCOPES=user-read-private user-read-email user-read-recently-played user-top-read user-follow-read user-follow-modify user-library-read user-read-playback-state user-read-currently-playing playlist-read-private playlist-read-collaborative playlist-modify-public
